//colors
$black_50: rgba(0, 0, 0, 0.5);
$color_white_60_approx: rgba(333, 333, 333, 0.6);
$white: #fff;
$color_lima_approx: #68b81f;
$gallery: #efefef;
$black: #000;
$color_storm_dust_approx: #666;
$black_40: rgba(0, 0, 0, 0.4);
$black_60: rgba(0, 0, 0, 0.6);
$color_alto_50_approx: rgba(221, 221, 221, 0.5);
$red_10: rgba(255, 0, 0, 0.10);
$red:  red;
$color_mountain_mist_approx: #999;
$color_celeste_approx: #ccc;
$black_30: rgba(0, 0, 0, 0.3);
$color_east_bay_approx: #33577b;
$color_jungle_mist_approx: #b4c9dd;
$color_rhino_approx: #294663;
$color_nobel_approx: #b3b3b3;
$color_citrus_approx: #9bd000;
$color_scarlet_approx: #ee3600;
$color_eternity_approx: #241e0e;
$color_alto_approx: #ddd;
$color_pink_swan_approx: #bbb;
$color_mine_shaft_approx: #333;
$color_viking_approx: #5bc0de;
$color_fern_approx: #5cb85c;

//fonts
$font_0: monospace;
$font_1: Montserrat;

//@extend-elements
//original selectors
//span.overlay_close, span.renderer_close, span.help_close, span.select_content, span.overlay_validate, span.overlay_translate
%extend_1 {
  padding: 20px;
  float: right;
  cursor: pointer;
  margin: 0 0 10px 10px;
}

//original selectors
//#help, #html-zone
%extend_2 {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 80;
}

//original selectors
//.help_content, .render_output
%extend_3 {
  position: relative;
  height: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: $gallery;
  padding: 10px 30px;
  top: 60px;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 20px 20px -10px $black_30;
}

//original selectors
//#O_o a:link, #O_o a:visited
%extend_4 {
  color: $color_jungle_mist_approx;
  border-bottom: $color_jungle_mist_approx;
  display: block;
  padding: 8px;
  text-decoration: none;
}

//original selectors
//#O_o a:hover, #O_o a:active
%extend_5 {
  color: $white;
  border-bottom: $white;
  text-decoration: none;
}

//original selectors
//.mini .subtitle, .footer_menu a, .empty_cart, .promo_banner
%extend_6 {
  font-family: $font_1;
  font-weight: bold;
  text-transform: uppercase;
  color: $color_eternity_approx;
  display: block;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}

//original selectors
//.fullsize .subtitle, .footer_menu a, .empty_cart, .promo_banner
%extend_7 {
  font-family: $font_1;
  font-weight: bold;
  text-transform: uppercase;
  color: $color_eternity_approx;
  display: block;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}

//original selectors
//.hepa, .hepaT
%extend_8 {
  margin-left: 10px;
  font-size: 80%;
  font-weight: normal;
}

//original selectors
//.error_message, .warning_message
%extend_9 {
  display: inline-block!important;
  margin-right: 10px;
  cursor: pointer;
}

//original selectors
//.error_bubble, .warning_bubble
%extend_10 {
  display: none;
  position: absolute;
  top: -134px;
  background-color: $color_alto_approx;
  padding: 10px;
  border: 1px solid $color_pink_swan_approx;
}

fieldset {
  margin: 0 2px!important;
  border: none!important;
  padding: 0.35em 0.625em 0.75em!important;
}
#wrapper {
  width: 980px;
  margin: 70px auto 0 auto;
}
.form-group {
  position: relative;
  display: table;
  width: 100%;
}
.half_span {
  width: 50%;
  float: left;
  &.lItem {
    padding-right: 20px;
  }
}
#output {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 10;
}
.blackify {
  background-color: $black_50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html[data-theme="light"] {
  .blackify_overlay {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: $black_50;
  }
  body {
    background-color: $white;
  }
  label {
    color: $black;
  }
  .panel-body:not(.input-group) {
    background-color: $gallery;
  }
}
html[data-theme="dark"] {
  .blackify_overlay {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  body {
    background-color: $color_storm_dust_approx;
  }
  label {
    color: $white;
  }
  .panel-body:not(.input-group) {
    background-color: $black;
  }
  .form-control:focus {
    color: #fff;
  }
  .grouped_feature{
    background-color: rgba(0, 0, 0, 0.3);
  }
  .inner_message{
    color:#fff;
  }
  .form-control:focus {
    color: #fff;
  }

  .inner_message {
    color: #fff;
  }

  .dropdown-menu {
    background-color: #666;
    color: #fff;
  }

  .dropdown-menu a {
    color: #fff;
    &:hover {
      background-color: #555;
    }
  }

  .dropdown-menu .divider {
    background-color: rgba(0, 0, 0, 0.3);
  }

}
span {
  &.overlay_close {
    @extend %extend_1;
  }
  &.multiquery_close{
    @extend %extend_1;
  }
  &.renderer_close {
    @extend %extend_1;
  }
  &.help_close {
    @extend %extend_1;
  }
  &.select_content {
    @extend %extend_1;
  }
  &.overlay_validate {
    @extend %extend_1;
  }
  &.overlay_translate {
    @extend %extend_1;
  }
  &.overlay_message {
    padding: 20px;
    float: left;
    cursor: pointer;
    margin: 0 0 10px 0;
    background-color: $white;
    display: none;
  }
  &.micro-aid {
    font-size: 8px;
    float: right;
    padding-top: 6px;
  }
}
legend {
  margin-top: 20px;
}
label {
  margin-top: 10px;
}
.heading-reference {
  padding: 10px 0;
  margin: 20px 0 10px 10px;
}
.mod-radio {
  padding-left: 50px;
  border-left: 6px solid $color_lima_approx;
  border-radius: 5px;
  transition:all 0.7s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.08);
  }
}
.panel-body {
  position: relative;
  &.top_level_bt {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 0 0 20px $black_40;
  }
}
.sub {
  width: 980px;
  margin: 0 auto;
}
.info-group {
  position: relative;
  display: inline-block;
  float: right;
  vertical-align: middle;
  font-size: 22px;
  margin-left: 5px;
  cursor: pointer;
  .label {
    border-left: 10px solid rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
    &:hover {
      border-radius: 0;
    }
  }
}
.clonedInput {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 16px 40px -20px $black_60;
}
.nopad {
  padding: 0!important;
  background-color: transparent;
}
#output[data-reason="output"] {
  .overlay_translate {
    display: none;
  }
  .select_content {
    display: inline;
  }
}
#output[data-reason="translate"] {
  .overlay_translate {
    display: inline;
  }
  .select_content {
    display: none;
  }
}
.copy-zone {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: $color_alto_50_approx;
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.errorList {
  display: none;
}
.numerrors {
  margin-left: 10px;
}
.redout {
  background-color: $red_10;
  border-left: 3px solid $red;
}
#attribution {
  font-size: 12px;
  color: $color_mountain_mist_approx;
  padding: 20px;
  margin: 20px 0;
  border-top: 1px solid $color_celeste_approx;
}
.input_holders {
  display: block;
  position: relative;
}
.input_alerts {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  color: $red;
  cursor: pointer;
}
#help {
  @extend %extend_2;
}
#html-zone {
  @extend %extend_2;
}
#query-zone{
  @extend %extend_2;
}
#loadandsave-zone{
  @extend %extend_2;
}
.help_content {
  @extend %extend_3;
  border-radius: 5px;
  border-left: 5px solid #d9534f;
  h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
.render_output {
  @extend %extend_3;
  height: auto!important;
}
.help_panel_holder {
  height: 570px;
  position: absolute;
  overflow-y: auto;
  width: auto;
  h4 {
    font-weight: bold;
  }
}
.previewItem {
  font-size: 15px;
}
#O_o {
  text-align: center;
  background: $color_east_bay_approx;
  color: $color_jungle_mist_approx;
  border-bottom: 1px solid $color_rhino_approx;
  a {
    &:link {
      @extend %extend_4;
    }
    &:visited {
      @extend %extend_4;
    }
    &:hover {
      @extend %extend_5;
    }
    &:active {
      @extend %extend_5;
    }
  }
}
.renderSmall {
  .action_button {
    top: 30px;
    position: relative;
  }
  .headline.herobanner {
    font-size: 35px;
    line-height: 45px;
    top: -120px;
  }
  .timedown.is-countdown {
    top: -130px;
    position: relative;
  }
  .subtitle:not(.is-countdown) {
    top: -70px;
  }
}
@media screen and (max-width:620px) and (max-device-width: 620px){
  #wrapper {
    width: 90%;
  }
  legend {
    font-size: 24px;
    font-weight: 500;
  }
}
.panel-default {
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 20px 50px $color_nobel_approx;
}
.panel-heading {
  text-transform: uppercase;
}
.page-header {
  border-bottom: none!important;
}
.color-blocks {
  display: block;
  height: 30px;
  padding-top: 30px;
}
.global {
  width: 50%;
  margin: 0 auto;
}
.well-lg {
  height: 65%;
  width: 50%;
  margin: 6% auto 0 auto;
}
.see_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
#content_value {
  width: 100%;
  height: 90%;
}
#cleaner_content_value {
  width: 100%;
  height: 90%;
}
#cleaner_error_value {
  width: 100%;
  height: 90%;
}
.button_holder {
  display: block;
  margin-bottom: 30px;
  height: auto;
}
.selector-color {
  display: inline-block;
  margin: -5px 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid $color_celeste_approx;
}
.white {
  background-color: $white;
}
.black {
  background-color: $black;
  &.glyphicon.glyphicon-ok {
    color: $white!important;
  }
}
.green {
  background-color: $color_citrus_approx;
  &.glyphicon.glyphicon-ok {
    color: $black!important;
  }
}
.red {
  background-color: $color_scarlet_approx;
  &.glyphicon.glyphicon-ok {
    color: $white!important;
  }
}
.mini {
  #event-active-today {
    float: left;
    padding: 0;
    width: 380px !important;
    height: 425px;
    position: relative;
    border-bottom: 5px solid $color_eternity_approx;
    margin-right: 40px;
    overflow: hidden;
    .event-active-bg {
      position: absolute;
      max-height: 425px;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .event-active-content {
      z-index: 262;
      position: absolute;
      width: 100%;
      padding: 0 10px;
      top: 75px;
      .headline {
        padding: 5px;
        text-align: center;
        font-size: 35px;
        line-height: 35px;
        color: $white;
      }
      .subtitle {
        position: absolute;
        padding: 5px;
        text-align: center;
        margin: 0 -10px;
        top: 190px;
        font-size: 14px;
        width: 100%;
      }
    }
    .event-active-cta {
      padding: 10px;
      position: absolute;
      right: 15%;
      bottom: 0;
      a {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 8px 8px 20px -12px $black;
        width: 250px;
        display: block !important;
      }
    }
  }
  .headline {
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 2px 2px 20px $black;
    font-size: 50px;
    margin-bottom: 0.2em;
    line-height: 55px;
    font-weight: bold;
    position: relative;
    letter-spacing: 1px;
  }
  .subtitle {
    @extend %extend_6;
    &:not(.is-countdown) {
      color: $white;
      background: $black_60;
      font-size: 80%;
      line-height: 1.5em;
      font-weight: normal;
      position: relative;
    }
  }
  .event-active-bg img {
    max-height: 425px;
  }
  .b_line_exo.is-countdown {
    position: absolute;
    bottom: 80px;
    width: 91%;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    z-index: 99;
    color: $white;
    span:not(.force_lower) {
      background-color: $black_40;
      border-bottom: 2px solid $color_citrus_approx;
      padding: 5px;
    }
  }
}
.empty_cart {
  @extend %extend_6;
  @extend %extend_7;
}
.promo_banner {
  @extend %extend_6;
  @extend %extend_7;
}
.fullsize {
  .bcg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  &.renderSmall .bcg {
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
  }
  .hsContainer {
    height: 550px;
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
  }
  .hsContent {
    max-width: 1180px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none;
  }
  #event-active-today {
    padding: 0;
    width: 380px !important;
    height: 425px;
    position: relative;
    border-bottom: 5px solid $color_eternity_approx;
    margin: 0 auto;
    overflow: hidden;
    .event-active-bg {
      position: absolute;
      max-height: 425px;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .event-active-content {
      z-index: 262;
      position: absolute;
      width: 100%;
      padding: 0 10px;
      top: 75px;
      .headline {
        padding: 5px;
        text-align: center;
        font-size: 35px;
        line-height: 35px;
        color: $white;
      }
      .subtitle {
        position: absolute;
        padding: 5px;
        text-align: center;
        margin: 0 -10px;
        top: 190px;
        font-size: 14px;
        width: 100%;
      }
    }
    .event-active-cta {
      padding: 10px;
      position: absolute;
      right: 15%;
      bottom: 0;
      a {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 8px 8px 20px -12px $black;
        width: 250px;
        display: block !important;
      }
    }
  }
  .headline {
    color: $white;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: 2px 2px 20px $black;
    font-size: 50px;
    margin-bottom: 0.2em;
    line-height: 55px;
    font-weight: bold;
    position: relative;
    letter-spacing: 1px;
  }
  .subtitle {
    @extend %extend_7;
    &:not(.is-countdown) {
      color: $white;
      background: $black_60;
      font-size: 80%;
      line-height: 1.5em;
      font-weight: normal;
      position: relative;
    }
  }
  .event-active-bg img {
    max-height: 425px;
  }
}
.hepa {
  @extend %extend_8;
}
.hepaT {
  @extend %extend_8;
}
.error_log {
  display: inline-block;
  padding: 10px 5px 0 20px;
  vertical-align: middle;
  position: relative;
  width: 70%;
}
.error_message {
  @extend %extend_9;
}
.warning_message {
  @extend %extend_9;
}
.error_bubble {
  @extend %extend_10;
}
.warning_bubble {
  @extend %extend_10;
  left: 100px;
}
.label-info {
  margin-left: 5px;
  cursor: pointer;
}
.tooltip {
  display: none;
  position: absolute;
  border: 1px solid $color_mine_shaft_approx;
  background-color: $color_viking_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  padding: 10px;
  color: $white;
  font-size: 12px;
}
.need_help {
  cursor: pointer;
}
.alert {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0!important;
  font-size: 16px;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}
.add_icon {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 45px;
}
.badge {
  margin-right: 10px;
}
.see_help_overlay {
  display: none;
}
.help_message_holder {
  .label {
    font-size: 100%!important;
  }
  .label-info {
    cursor: default;
    &:last-of-type {
      margin-left: 0!important;
    }
  }
  p:nth-of-type(1):before {
    content: '';
    height: 40px;
    clear: both;
    display: block;
  }
}
.autosuggest {
  position: absolute;
  bottom: -11px;
  background-color: $white;
  width: 92%;
  left: 1px;
  margin: -5px 15px;
  padding: 5px;
  border: 1px solid $color_celeste_approx;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  select {
    font-size: 12px;
    &.w_minor {
      width: 45px;
      font-size: 12px;
    }
  }
}
.starting {
  display: none;
}
.ending {
  display: none;
}
.sparta {
  position: absolute!important;
  top: 26px;
  left: 285px;
  z-index: 10;
  cursor: pointer;
}
.athena {
  position: absolute!important;
  top: 26px;
  left: 285px;
  z-index: 10;
  cursor: pointer;
}
.version {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.revision {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.build {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.minified {
  display: inline-block;
  margin-right: 10px;
}
.object {
  &.lineitem {
    display: inline-block;
    margin-right: 30px;
  }
  &.checks {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: $color_fern_approx;
    font-size: 25px;
  }
  &.semantic >* {
    display: inline-block;
    margin-right: 10px;
  }
}
.line-error {
  cursor: pointer;
}
.line-update {
  cursor: pointer;
}
.release-data {
  width: 800px;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
#results-alert {
  display: none;
}
.partridge {
  float: right;
}
.snapright {
  float: right;
}
.blackify_overlay textarea {
  width: 100%!important;
  height: 85%!important;
  font-family: $font_0;
  font-size: 12px;
}
.open>.dropdown-menu {
  display: block;
  min-width: 280px;
}
.btn-group.bigboy {
  button {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    .label {
      font-size: 15px;
      vertical-align: middle;
    }
  }
  &.pushDown{
    margin: 15px 0 30px 0;
  }
}
h4.push_block {
  margin-top: 40px;
}
input#image_gl {
  text-transform: lowercase;
}
.footer_menu a {
  @extend %extend_6;
  @extend %extend_7;
}
p.subtitle.timedown {
  color: $white;
  b {
    color: $white;
    padding: 1px 3px;
    background: $color_scarlet_approx;
    margin: 0 auto 15px auto;
  }
  small {
    font-size: 50%;
  }
}
.subtitle.timedown.is-countdown span:not(.force_lower) {
  background-color: $black_50;
}
a.action_button {
  background: $color_scarlet_approx;
  color: $white;
  border: 0;
  padding: 8px 20px;
  text-align: center;
  cursor: pointer;
  font-family: $font_1;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 200ms ease 0s;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 2px;
  font-smoothing: antialiased;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  &.hero {
    pointer-events: none;
  }
}
div#html-view {
  position: absolute;
  top: 0;
  margin-top: 8%;
}
.label span {
  margin-right: 5px;
}
.top_level_bt.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0 0 0.5em 0.5em;
}
.panel.panel-default {
  margin-top: 20px;
}
h1 .label-default {
  font-size: 12px;
  margin-left: 10px;
}
.moveUpThisItem,.moveDownThisItem {
  span {
    float: right;
    font-size: 12px;
  }
}
.errorListing {
  max-height: 500px;
  overflow-y: auto;
}
.errorItem.true {
  color: red;
  transition: all 0.4s;
  &:hover {
    background-color: red;
    color: #fff;
  }
}
input.hero_num {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 9px;
  left: 49px;
}
.question_num,.question_loader,.saveme_loader {
  background-color: #fff;
  width: 100%;
  margin: 60px auto;
  top: 50px;
  padding: 5px 50px;
  .subs {
    background-color: #fff;
    width: 980px;
    margin: 50px auto;
    top: 50px;
  }
}
span.show_me_how {
  cursor: pointer;
  color: green;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    content: "\e085";
  }
}
.preview_warning {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  bottom: 10px;
  right: 30px;
  border-left: 3px solid rgba(0, 0, 0, 0.51);
  border-top: 3px solid rgba(0, 0, 0, 0.51);
  cursor: pointer;
}
.grouped_feature {
  padding: 0 20px 20px 20px;
  background-color: rgba(221, 221, 221, 0.4);
  border-left: 6px solid #5bc0de;
  border-right: 6px solid rgba(91, 192, 222, 0.20);
  border-radius: 5px;
  box-shadow: inset 10px 1px 100px -58px rgba(0, 0, 0, 0.5);
  transition:all 0.5s;
  &:hover {
    border-right: 6px solid #5bc0de;
    border-left: 6px solid rgba(91,192,222,0.2);
  }
}
.main_nav[role="menu"] {
  border-left: 5px solid #398439;
}
.custom_prog {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 62px;

  /* Dimensions */
  width: 100%;
  height: 2px;

  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #5bc0de;
}
.custom_prog::-webkit-progress-bar {
  background-color: transparent;
}

.custom_prog::-webkit-progress-value {
  background-color: #5bc0de;
}

.custom_prog::-moz-progress-bar {
  background-color: #5bc0de;
}
.panel-body.bottom_level_bt {
  display:none;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 80px;
  z-index: 99;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.message_pane {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 80px;
}
.leftAlign {
  float: left;
  font-size: 40px;
}
.allGood{
  color: green;
}
.allBad{
  color: red;
}
.inner_message {
  vertical-align: middle;
  padding: 15px;
}
.helpItem{
  cursor: pointer;
}
.form-control{
  transition:all 0.5s!important;
  &:focus {
    border-color: #4cae4c;
    background-color: rgba(0,0,0,0.05) !important;
    border-left-width: 6px;
  }
}
#loadandsave-zone[data-reason="load"] {
  .question_loader{
    display:block;
  }
  .saveme_loader{
    display:none;
  }
}
#loadandsave-zone[data-reason="save"] {
  .question_loader{
    display:none;
  }
  .saveme_loader{
    display:block;
  }
}
.reordered {
  font-size: 20px;
  margin-right: 10px;
}
.image_count{
  cursor: pointer;
}
.view-active {
  border-right: 5px solid rgba(0, 0, 0, 0.4);
  background: rgba(221, 221, 221, 0.3);
}
